body {
    background-color: rgb(255, 255, 255);
    background-image: url("././images/background.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    
}

.header {
    width: 40%;
    margin-top: 0;
    padding: 0;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.container {
    background: linear-gradient(rgba(236, 221, 191, 0.5), rgba(255,255,255,.5));
    border: 3px solid #000000;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    height: 42em;
}

.console {
    flex: 40%;
    margin: 0 5em;
    padding: 0;
}

.scoreboard, .rules {
    overflow: auto;
    margin: 0;
    padding: 0;
}

img {
    width: 100px;
}

.character {
    width: 50%;
    position: relative;
    margin-left: -50em;
    top: -22em;
    padding: 0;
}

.character2 {
    width: 50%;
    position: relative;
    right: -22em;
    bottom: 8em;
}

.player img:hover {
    padding: 10px;
    border: white solid 5px;
    border-radius: 100px;
}

.down {
    transform: translateY(150px);
    transition: width 2s, height 2s, transform 2s;
}

.up {
    transform: translateY(-150px);
    transition: width 2s, height 2s, transform 2s;
}

.column {
    padding: 20px;
}

.sidebar {
    width: 20%;
    margin-right: 10px;
    padding-left: 10px;
}

.disable {
    pointer-events: none;
    cursor: not-allowed;
}

h2 {
    font-size: 25px;
}

button {
    background: rgb(255, 196, 0, 0.4);
    border: 3px rgb(255, 196, 0) solid;
    padding: 10px;
    border-radius: 100px;
}

.computer {
    background: rgb(240, 128, 128, 0.7);
    border: 3px lightcoral solid;
    padding: 10px;
    border-radius: 100px;
}