body {
    background-color: rgb(255, 255, 255);
    background-image: url("././images/background.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.header {
    width: 40%;
    margin-top: 0;
    padding: 0;
}

h2 {
    font-size: 25px;
}

/* Middle section of page */
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

/* Container with transparent background */
.container {
    background: linear-gradient(rgba(236, 221, 191, 0.6), rgba(255,255,255,.6));
    border: 3px solid #833d0f;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    height: 42em;
}

/* Area for gameplay */
.console {
    flex: 40%;
    margin: 0 5em;
    padding: 0;
}

/* Division between Computer and Player */
.column {
    padding: 18px;
}

/* Left and right sidebars */
.sidebar {
    width: 20%;
    margin-right: 10px;
    padding-left: 10px;
}

.scoreboard, .rules {
    overflow: auto;
    margin: 0;
    padding: 5px 10px;
}

/* Character for Computer */
.redCharacter {
    width: 50%;
    position: relative;
    margin-left: -22em;
    top: -25em;
    padding: 0;
}

/* Character for Player */
.blueCharacter {
    width: 50%;
    position: relative;
    right: -22em;
    bottom: -1em;
    padding: 0;
}

/* Gameplay Computer and Player choices */
img {
    width: 100px;
}

.player img:hover {
    border: white solid 5px;
    border-radius: 100px;
}

button {
    background: rgba(173, 216, 230, 0.7);
    border: 3px lightblue solid;
    padding: 10px;
    border-radius: 100px;
    margin-top: 5px;
}

.compChoice {
    background: rgb(240, 128, 128, 0.7);
    border: 3px lightcoral solid;
    padding: 10px;
    border-radius: 100px;
}

/* Transformation of choices */
.down {
    transform: translateY(150px);
    transition: width 2s, height 2s, transform 2s;
}

.up {
    transform: translateY(-150px);
    transition: width 2s, height 2s, transform 2s;
}

/* Control mouse during gameplay */
.disable {
    pointer-events: none;
    cursor: not-allowed;
}

/* Table for scoreboard */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(236, 221, 191, 0.6);
}
  
td, th {
    text-align: center;
    padding: 8px;
}

/* Play again button */
.refresh {
    font-size: 25px;
    box-shadow: 5px 10px #000000;
}

.refresh:hover {
    background-color: rgb(63, 116, 177);
    color:rgb(255, 255, 255);
}